---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ argocd.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  chart: argo-cd
  targetNamespace: {{ argocd.target_namespace }}
  version: 5.51.4
  repo: https://argoproj.github.io/argo-helm
  valuesContent: |-
    server:
      extraArgs:
        - --insecure
      service:
        type: LoadBalancer
        loadBalancerIP: {{ metallb.lb_ip.argocd }}
      ingress:
        enabled: true
        hosts:
          - argocd.{{ dns_suffix }}
