token: "{{ token }}"
log: "/var/log/rancher/k3s/server.log"
write-kubeconfig-mode: "0644"
disable:
  - "servicelb"
  - "traefik"
node-taint:
  - "node-role.kubernetes.io/master=:NoSchedule"
node-label:
  - "{{ project_name }}-role=master"
