---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ monitoring.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-prometheus-stack
  namespace: kube-system
spec:
  chart: kube-prometheus-stack
  targetNamespace: {{ monitoring.target_namespace }}
  version: 40.5.0
  repo: https://prometheus-community.github.io/helm-charts
  valuesContent: |-
    commonLabels:
      deployer: {{ project_name }}
    grafana:
      service:
        type: LoadBalancer
        loadBalancerIP: {{ metallb.lb_ip.grafana }}
      ingress:
        enabled: true
        hosts:
          - grafana.{{ dns_suffix }}
    prometheus:
      service:
        type: LoadBalancer
        loadBalancerIP: {{ metallb.lb_ip.prometheus }}
      ingress:
        enabled: true
        hosts:
          - prometheus.{{ dns_suffix }}
