---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ kubernetes_dashboard.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubernetes-dashboard-admin
  namespace: {{ kubernetes_dashboard.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubernetes-dashboard-admin
  labels:
    deployer: {{ project_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: kubernetes-dashboard-admin
  namespace: {{ kubernetes_dashboard.target_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kubernetes-dashboard-admin
  namespace: {{ kubernetes_dashboard.target_namespace }}
  labels:
    deployer: {{ project_name }}
  annotations:
    kubernetes.io/service-account.name: "kubernetes-dashboard-admin"
type: kubernetes.io/service-account-token
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  chart: kubernetes-dashboard
  targetNamespace: {{ kubernetes_dashboard.target_namespace }}
  version: 7.5.0
  repo: https://kubernetes.github.io/dashboard/
  valuesContent: |-
    kong:
      proxy:
        type: LoadBalancer
        loadBalancerIP: {{ metallb.lb_ip.kubernetes_dashboard }}
