---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ monitoring.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource
  namespace: {{ monitoring.target_namespace }}
  labels:
    deployer: {{ project_name }}
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100
        version: 1
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: loki
  namespace: kube-system
spec:
  chart: loki
  targetNamespace: {{ monitoring.target_namespace }}
  version: 5.43.5
  repo: https://grafana.github.io/helm-charts
  valuesContent: |-
    loki:
      podLabels:
        deployer: {{ project_name }}
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      storage:
        type: 'filesystem'
    singleBinary:
      replicas: 1

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: promtail
  namespace: kube-system
spec:
  chart: promtail
  targetNamespace: {{ monitoring.target_namespace }}
  version: 6.15.5
  repo: https://grafana.github.io/helm-charts
  valuesContent: |-
    podLabels:
      deployer: {{ project_name }}
    config:
      clients:
        - url: http://loki:3100/loki/api/v1/push
