---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ monitoring.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: loki-stack
  namespace: kube-system
spec:
  chart: loki-stack
  targetNamespace: {{ monitoring.target_namespace }}
  version: 2.4.1
  repo: https://grafana.github.io/helm-charts
  valuesContent: |-
    loki:
      podLabels:
        deployer: {{ project_name }}
      image:
        tag: 2.2.1
    promtail:
      podLabels:
        deployer: {{ project_name }}
      image:
        tag: 2.2.1
