---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ metallb.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  chart: metallb
  targetNamespace: {{ metallb.target_namespace }}
  version: 0.10.2
  repo: https://metallb.github.io/metallb
  valuesContent: |-
    configInline:
      address-pools:
        - name: default
          protocol: layer2
          addresses:
            - {{ metallb.address_range }}
