---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ metallb.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  chart: metallb
  targetNamespace: {{ metallb.target_namespace }}
  version: 0.13.3
  repo: https://metallb.github.io/metallb
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: address-pool
  namespace: {{ metallb.target_namespace }}
spec:
  addresses:
  - {{ metallb.address_range }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: advertisement
  namespace: {{ metallb.target_namespace }}
