---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ nfs_provisioner.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nfs-subdir-external-provisioner
  namespace: kube-system
spec:
  chart: nfs-subdir-external-provisioner
  targetNamespace: {{ nfs_provisioner.target_namespace }}
  version: 4.0.17
  repo: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
  valuesContent: |-
    nfs:
      server: {{ groups['client'][0] }}
      path: {{ nfs_location }}
