---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ traefik.target_namespace }}
  labels:
    deployer: {{ project_name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: traefik
  targetNamespace: {{ traefik.target_namespace }}
  version: 26.1.0
  repo: https://traefik.github.io/charts
  valuesContent: |-
    logs:
      access:
        # enable access logs
        enabled: true
        fields:
          # keep headers
          headers:
            defaultmode: keep
    # turn off global args
    globalArguments:
      - "--global.checknewversion=false"
      - "--global.sendanonymoususage=false"
    # enable XFF
    additionalArguments:
      - "--entrypoints.web.forwardedheaders.insecure"
    ports:
      traefik:
        # expose the traefik port
        expose: true
      web:
        # route through haproxy
        nodePort: 32080
    service:
      spec:
        # specify metallb ip
        loadBalancerIP: {{ metallb.lb_ip.traefik }}
        # preserve client ip
        externalTrafficPolicy: Local
